<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.creoletravel.upstudio"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Creole Travel Services</name>

  <description>
      An example for Creole Travel App.
  </description>

  <author href="https://getactive.sc" email="delroy@getactive.sc">
    Delroy Finesse
  </author>

</widget>
