$assertive: #B30F3E;
$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss";
.pad {
	padding: 10px;
}

.pade {
	padding: 0px 10px 0px 10px;
}

.cent {
	text-align: center;
	background-color: #B30F3E;
	color: #fff;
	opacity: 0.5;
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #B30F3E;
	opacity: 0.2;
}

.st {
	color: white;
	text-shadow: -0.5px -0.5px 0 #fff,
	    0.5px -0.5px 0 #fff,
	    -0.5px 0.5px 0 #fff,
	    0.5px 0.5px 0 #fff;
}

.smlr {
	font-size: 8px;
	text-align: center;
}

.info {
	margin-top: 5%;
	background-color: #B30F3E;
}

.hdn {
	background-color: #B30F3E;
	opacity: 0.5;
}

.side-menu-gradient {
	/* Permalink - use to edit and share this gradient: http: //colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;
	Brown+Red+3D */
	background: #a90329;
	/* Old browsers */
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
	/* IE6-9 */}
.profile-image {
	img {
		border-radius: 50%;
		margin: 10px;
		border: 4px solid rgba(255,255,255,0.4);
	}
	
}
.side-menu-item {
	background: none;
	color: white;
	font-weight: 300;
	border: 0px;
	.item-content {
		background: none;
		&.activated {
			background: rgba(255,255,255,0.4);
		}
		
	}
}
.career {
	background: $assertive;
	padding: 10px;
	color: #fff;
}

