<ion-view title="ABOUT" id="page4" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-alert-circled"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/2cogyvcVSGQiPbKt6OSk_sacos-about-us-1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="aBOUT-heading1" style="color: rgb(179, 15, 62);" class="pad">Who we are</h3>
    <div id="aBOUT-markdown2" class="show-list-numbers-and-dots pad">
      <p style="color:#333333;">Sacos Insurance Group is the leading insurance service provider in Seychelles. We offer an expansive range of services which includes general insurance, life assurance and property management.</p>

      <p style="color:#333333;">We have years of expertise in the insurance industry and a rich history and understanding of the local insurance market. With 37 years of experience, we have built a strong legacy for ourselves in insurance. We continue to evolve our business over,
        with a strong commitment towards innovation and service excellence. Our success is largely due to our adaptability and versatility and the commitment to continuously reinvent ourselves in a small but competitive and dynamic industry. We put people
        at the centre of our services as we value your trust and respect. We promise to take care of and understand your needs.</p>

      <p style="color:#333333;">For this reason, we will offer you the best insurance products in the market most suited to your needs. We also commit ourselves to remain accountable to our clients and our shareholders. We strive to provide you with value for money and the best
        services on the island. We are ambitious and because of this, we intend to provide you with world-class service standards.</p>
    </div>
    <h3 id="aBOUT-heading2" style="color: rgb(179, 15, 62);" class="pad">Our Company Structure</h3>
    <div>
      <img src="img/mgVG2eLmQOaoqtFXdEmO_company-structure.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="aBOUT-markdown1" class="show-list-numbers-and-dots pad">
      <p style="color:#333333;">There are currently four separate entities constituting the Sacos Group namely, Sacos Group Ltd (trading as Sacos Insurance Group), Sacos Insurance Company Ltd, Sacos Life Assurance Company Ltd and Sun Investment Properties Ltd.</p>
    </div>
    <p class="text-center">
      NEED HELP? CONTACT US! | info@sacos.sc
      <br> +248 429 5000
      <br> TAKE PART IN OUR CUSTOMER SURVEY
    </p>
    <div></div>
    <div>
    </div>
  </ion-content>
</ion-view>