<ion-view title="CALCULATOR" id="page3" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-alert-circled"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="cALCULATOR-form1" class="list">
      <ion-item class="item-divider" id="cALCULATOR-list-item-divider2"> Personal or Business Insurance</ion-item>
      <label class="item item-select" id="cALCULATOR-select1">
        <span class="input-label">Select</span>
        <select>
          <option>Personal</option>
          <option>Business</option>
        </select>
      </label>
      <ion-item class="item-divider" id="cALCULATOR-list-item-divider1"> Type of Insurance</ion-item>
      <label class="item item-select" id="cALCULATOR-select2">
        <span class="input-label">Select</span>
        <select>
          <option>Personal</option>
          <option>Business</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>