<ion-view title="CONTACT" id="page9" style="">
  <ion-content padding="false" class="has-header">
    <div class="spacer" style="width: 320px; height: 10px;"></div>
    <h3 id="cONTACT-heading13" style="color: rgb(0, 0, 0); font-weight: 600; text-align: center;">HEAD OFFICE</h3>
    <p class="text-center">
      Sacos Tower
      <br> P O Box 636
      <br> Palm Street
      <br> Victoria, Mahé, Seychelles
    </p>
    <p class="text-center">
      T +248 429 5000
      <br> F +248 422 4495
    </p>
    <div id="cONTACT-container1" class="pad">
      <a href="tel:+248 4295000" id="cONTACT-button11" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block icon ion-ios-telephone-outline">
        <span style="padding-left:10px;">CALL HEAD OFFICE</span>
      </a>
    </div>
    <h3 id="cONTACT-heading21" style="color: rgb(0, 0, 0); font-weight: 600; text-align: center;">PROVIDENCE OFFICE</h3>
    <p class="text-center">
      Green Corner Building
      <br> Providence
      <br> Victoria, Mahé, Seychelles
    </p>
    <p class="text-center">
      T +248 429 5086
      <br> F +248 423 4495
    </p>
    <a href="tel:+248 4295086" id="cONTACT-button12" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block icon ion-ios-telephone-outline">
      <span style="padding-left:10px;">CALL HEAD OFFICE</span>
    </a>
    <h3 id="cONTACT-heading23" style="color: rgb(0, 0, 0); font-weight: 600; text-align: center;">PRASLIN OFFICE</h3>
    <p class="text-center">

      Horizon Complex
      <br> Baie Ste Anne, Praslin, Seychelles
    </p>
    <p class="text-center">
      T +248 423 2466
      <br> F +248 423 2426
    </p>
    <a href="tel:+248 4232466" id="cONTACT-button25" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block icon ion-ios-telephone-outline">
      <span style="padding-left:10px;">CALL HEAD OFFICE</span>
    </a>
    <div id="cONTACT-container2">
      <div class="career text-center">
        <h3 style="color:#fff">Career Opportunities</h3>
        <p>In order to achieve its strategic and growth objectives, Sacos is continuously in search of top talent.
          <br>We would like to recruit talented individuals who fit our core values.
          <br> Should you be interested in a career with us, do not hesitate to send us your CV on hr@sacos.sc or by post to Sacos P O Box 636 Victoria Mahé Seychelles.
        </p>
      </div>
      <a href="mailto:hr@sacos.sc" id="cONTACT-button14" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block icon ion-ios-email-outline">
        <span style="padding-left:10px;">EMAIL CV</span>
      </a>
      <p class="text-center">
        <b>OFFICE HOURS:</b>
        <br>Monday to Friday – 08:30 to 16:30.
        <br> Weekends &amp; Public Holidays – Closed.
      </p>
      <div class="spacer" style="height: 10px;"></div>
      <p class="text-center">
        NEED HELP? CONTACT US! | info@sacos.sc
        <br> +248 429 5000
        <br> TAKE PART IN OUR CUSTOMER SURVEY
      </p>
      <a href-inappbrowser="https://www.sacos.sc/customer-survey/" id="cONTACT-button22" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block icon ion-clipboard">
        <span style="padding-left:10px;">TAKE SURVEY</span>
      </a>
      <div class="spacer" style="width: 303px; height: 50px;"></div>
    </div>
  </ion-content>
</ion-view>