<ion-view title="HERE FOR YOU" id="page7" style="">
  <ion-content padding="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider5" delegate-handle="slider5" id="hEREFORYOU-slider5" style="width:100%;height:300px;">
      <ion-slide-page id="hEREFORYOU-slide221" style="background:url(&quot;img/KnksmFhoTEqBP4aSoX59_fire-insurance-slider.jpg&quot;) no-repeat center;background-size:cover;">
        <h5 id="hEREFORYOU-heading25" style="color: rgb(179, 15, 62); text-align: center;">SPECIAL PROMOTION - Fire Insurance</h5>
        <div class="spacer" style="width: 303px; height: 44px;"></div>
        <div id="hEREFORYOU-markdown7" class="show-list-numbers-and-dots pade cent">
          <p style="color:#FFFFFF;font-size:10px;">Your home is a safe haven, but accidents do happen. Imagine investing an average of SCR500,000 and losing everything in a matter of minutes. This doesn't mean that it is destined to happen to you. But if it does, having fire insurance with Sacos
            can save you from financial disaster.</p>
        </div>
        <div class="spacer" style="height: 10px;"></div>
        <button id="hEREFORYOU-button10" class="button button-assertive button-block button-clear">READ MORE</button>
      </ion-slide-page>
      <ion-slide-page id="hEREFORYOU-slide22" style="background:url(&quot;img/2F5MmJC1RruMpnV1ERZL_Travel_A5_Advert_SC_ladies.png&quot;) no-repeat center;background-size:cover;">
        <h5 id="hEREFORYOU-heading22" style="color: rgb(179, 15, 62); font-weight: 400; text-align: center;"> SPECIAL PROMOTION - Joint Sacos - Air Seychelles Christmas Travel Promotion extended</h5>
        <div class="spacer" style="width: 303px; height: 44px;"></div>
        <div id="hEREFORYOU-markdown6" class="show-list-numbers-and-dots cent pade">
          <p style="color:#FFFFFF;font-size:10px;">Purchase your travel insurance with Sacos and your ticket with Air Seychelles to stand the chance to win two return tickets to an Air Seychelles regional destination, three nights accommodation and USD400. Promotion is valid from 18 November
            2017 to 22 December 2017.</p>
        </div>
        <div class="spacer" style="width: 303px; height: 10px;"></div>
        <button id="hEREFORYOU-button9" class="button button-assertive button-block button-clear">READ MORE</button>
      </ion-slide-page>
    </ion-slides>
    <h4 id="hEREFORYOU-heading24" style="color: rgb(0, 0, 0); text-align: center;" class="pade">Our Products and Services</h4>
    <div class="list card" id="hEREFORYOU-card23">
      <ion-item class="item-thumbnail-left assertive" id="hEREFORYOU-list-item11" style="">
        <img src="img/XxiPc597TdmwJM3rLmas_1-p-Life_Assurance_18-05-17_Small-1.jpeg">
        <h2assertive>Life Assurance Plans
          <p style="white-space:normal;">Our extensive range of life assurance plans provides peace of mind and protection for you and your loved ones. </p>
        </h2assertive>
      </ion-item>
      <div class="spacer" style="width: 283px; height: 10px;"></div>
      <ion-item class="item-thumbnail-left assertive" id="hEREFORYOU-list-item13" style="">
        <img src="img/axRsBJR4QBGDbpG1lJAZ_2-p-education-plan-tile-2.jpg">
        <h2assertive>EDUCATION PLAN
          <p style="white-space:normal;">Sacos has designed this Educational Assurance Plan with the objective of reducing the parents’ burden to meet higher education expenses. </p>
        </h2assertive>
      </ion-item>
      <div class="spacer" style="width: 283px; height: 10px;"></div>
      <ion-item class="item-thumbnail-left assertive" id="hEREFORYOU-list-item14" style="">
        <img src="img/WL6Ybmi0SYucKtAKR8rq_3-p-investment-plan-tile-3.jpg">
        <h2assertive> Investment Plan
          <p style="white-space:normal;">The Sacos Wealth Enhancer Single Premium Product is an alternative to traditional savings accounts. </p>
        </h2assertive>
      </ion-item>
      <div class="spacer" style="width: 283px; height: 10px;"></div>
      <ion-item class="item-thumbnail-left assertive" id="hEREFORYOU-list-item15" style="">
        <img src="img/WL6Ybmi0SYucKtAKR8rq_3-p-investment-plan-tile-3.jpg">
        <h2assertive> Credit Protection Insurance
          <p style="white-space:normal;">Sacos offers different types of credit protection plans, the purpose of which is to settle your insured debts with the respective financial institutions in the event of Total Permanent Disability or death. </p>
        </h2assertive>
      </ion-item>
      <div class="spacer" style="width: 283px; height: 10px;"></div>
      <ion-item class="item-thumbnail-left assertive" id="hEREFORYOU-list-item16" style="">
        <img src="img/vIH9IlQyRLSxLVhqzj89_6-p-motor-private-insurance-tile-1-6.jpg">
        <h2assertive>MOTOR PRIVATE INSURANCE
          <p style="white-space:normal;">This policy provides protection against losses incurred as a result of traffic accidents and against third party property damage or injury or death following an accident. </p>
        </h2assertive>
      </ion-item>
      <div class="spacer" style="width: 283px; height: 10px;"></div>
      <ion-item class="item-thumbnail-left assertive" id="hEREFORYOU-list-item17" style="">
        <img src="img/wwp4QNp4QIOvb1YCduMa_home-private-property-insurance-tile.jpg">
        <h2assertive>Home (Private Property) Insurance
          <p style="white-space:normal;">Home insurance is about protecting the home you love and the contents that matter to you most. </p>
        </h2assertive>
      </ion-item>
      <div class="spacer" style="width: 283px; height: 10px;"></div>
      <ion-item class="item-thumbnail-left assertive" id="hEREFORYOU-list-item19" style="">
        <img src="img/utdcdyS2QdqPAQFkHzsZ_travel-insurance-tile.jpg">
        <h2assertive>Travel Insurance
          <p style="white-space:normal;">Even the best planned vacations can be interrupted by glitches and emergencies, which is why we have designed a travel insurance which protects you in the event of misfortunes. </p>
        </h2assertive>
      </ion-item>
      <div class="spacer" style="width: 283px; height: 10px;"></div>
      <ion-item class="item-thumbnail-left assertive" id="hEREFORYOU-list-item20" style="">
        <img src="img/DmWrHuaWQfGoQsmbgr9u_personal-accident-tile.jpg">
        <h2assertive>Personal Accident
          <p style="white-space:normal;">This policy provides cover against accidental death or bodily injury. Policy holders can choose from occupational or twenty-four hour basis. </p>
        </h2assertive>
      </ion-item>
      <div class="spacer" style="width: 283px; height: 10px;"></div>
      <ion-item class="item-thumbnail-left assertive" id="hEREFORYOU-list-item18" style="">
        <img src="img/Kesz9DykSKOT26kP5Pu0_5-p-health-insurance-tile-5.jpg">
        <h2assertive>Health Insurance
          <p style="white-space:normal;">This insurance covers medical, obstetric care and surgical expenses for inpatient treatment incurred by the insured. </p>
        </h2assertive>
      </ion-item>
      <div class="spacer" style="width: 283px; height: 10px;"></div>
    </div>
  </ion-content>
</ion-view>