<ion-view title="HOME" id="page2" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-alert-circled"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="pad">
      <img src="img/wjBR6jezSr5WdomUNZ4Q_sacos_logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="hOME-list1" class="manual-list-fullwidth">
      <ion-item class="item-divider cent" id="hOME-list-item-divider3"> For all your personal insurance needs</ion-item>
    </ion-list>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="hOME-slider2" style="width:calc(100% + 20px);height:200px;margin-left:-10px;">
      <ion-slide-page id="hOME-slide28" style="background:url(&quot;img/jcH70XEwSqCGi10T3zMk_1-p-Life_Assurance_18-05-17_Small-1.jpeg&quot;) no-repeat center;background-size:cover;">
        <h4 id="hOME-heading4" style="color: rgb(255, 255, 255); text-align: center;" class="hdn"> Life Assurance Plans</h4>
        <div class="spacer" style="width: 303px; height: 59px;"></div>
        <a ui-sref="tabsController.hEREFORYOU()" id="hOME-button2" style="border-radius:2px 2px 2px 2px;" class="button button-assertive button-block button-clear st">VIEW MORE</a>
      </ion-slide-page>
      <ion-slide-page id="hOME-slide29" style="background:url(&quot;img/g2sHyhoMQ5SebnY1UwD3_2-p-education-plan-tile-2.jpg&quot;) no-repeat center;background-size:cover;">
        <h4 id="hOME-heading7" style="color: rgb(255, 255, 255); text-align: center;" class="hdn">Education Plan</h4>
        <div class="spacer" style="height: 59px;"></div>
        <a ui-sref="tabsController.hEREFORYOU()" id="hOME-button3" class="button button-assertive button-block button-clear st">VIEW MORE</a>
      </ion-slide-page>
      <ion-slide-page id="hOME-slide210" style="background:url(&quot;img/dJTFBeNSW2LWMXoyxhks_3-p-investment-plan-tile-3.jpg&quot;) no-repeat center;background-size:cover;">
        <h4 id="hOME-heading8" style="color: rgb(255, 255, 255); text-align: center;" class="hdn">Investment Plan</h4>
        <div class="spacer" style="height: 59px;"></div>
        <a ui-sref="tabsController.hEREFORYOU()" id="hOME-button4" class="button button-assertive button-block button-clear st">VIEW MORE</a>
      </ion-slide-page>
      <ion-slide-page id="hOME-slide214" style="background:url(&quot;img/BFPepOWkRMCRVSa1S0zG_4-p-credit_protection_insurance_02_small-4.jpg&quot;) no-repeat center;background-size:cover;">
        <h4 id="hOME-heading9" style="color: rgb(255, 255, 255); text-align: center;" class="hdn">Credit Protection Insurance</h4>
        <div class="spacer" style="height: 59px;"></div>
        <a ui-sref="tabsController.hEREFORYOU()" id="hOME-button5" class="button button-assertive button-block button-clear st">VIEW MORE</a>
      </ion-slide-page>
      <ion-slide-page id="hOME-slide216" style="background:url(&quot;img/XkQcG0FSfKAFPKhsfWDa_6-p-motor-private-insurance-tile-1-6.jpg&quot;) no-repeat center;background-size:cover;">
        <h4 id="hOME-heading11" style="color: rgb(255, 255, 255); text-align: center;" class="hdn">Motor Private Insurance</h4>
        <div class="spacer" style="width: 303px; height: 59px;"></div>
        <a ui-sref="tabsController.hEREFORYOU()" id="hOME-button6" class="button button-assertive button-block button-clear st">VIEW MORE</a>
      </ion-slide-page>
      <ion-slide-page id="hOME-slide215" style="background:url(&quot;img/0ukG5gt1TtKDtawF78O9_5-p-health-insurance-tile-5.jpg&quot;) no-repeat center;background-size:cover;">
        <h4 id="hOME-heading10" style="color: rgb(255, 255, 255); text-align: center;" class="hdn">Health Insurance</h4>
        <div class="spacer" style="height: 59px;"></div>
        <a ui-sref="tabsController.hEREFORYOU()" id="hOME-button7" class="button button-assertive button-block">VIEW MORE</a>
      </ion-slide-page>
    </ion-slides>
    <ion-list id="hOME-list5" class="manual-list-fullwidth">
      <ion-item class="item-divider cent" id="hOME-list-item-divider6"> For all your business insurance needs</ion-item>
    </ion-list>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="hOME-slider3" style="width:calc(100% + 20px);height:200px;margin-left:-10px;">
      <ion-slide-page id="hOME-slide211" style="background:url(&quot;img/LvQ41niLQ3qSjEMnHH6i_1-health-insurance-tile.jpg&quot;) no-repeat center;background-size:cover;">
        <h4 id="hOME-heading15" style="color: rgb(255, 255, 255); text-align: center;" class="hdn">Corporate Health Insurance </h4>
        <div class="spacer" style="height: 59px;"></div>
        <a ui-sref="tabsController.hEREFORYOURBUSINESS()" id="hOME-button15" class="button button-assertive button-block button-clear st">VIEW MORE</a>
      </ion-slide-page>
      <ion-slide-page id="hOME-slide212" style="background:url(&quot;img/vzWMiXAQUyrey5pJQAKX_2-travel-insurance-tile.jpg&quot;) no-repeat center;background-size:cover;">
        <h4 id="hOME-heading16" style="color: rgb(255, 255, 255); text-align: center;" class="hdn">Corporate Travel </h4>
        <div class="spacer" style="height: 59px;"></div>
        <a ui-sref="tabsController.hEREFORYOURBUSINESS()" id="hOME-button16" class="button button-assertive button-block button-clear st">VIEW MORE</a>
      </ion-slide-page>
      <ion-slide-page id="hOME-slide213" style="background:url(&quot;img/XZyxVKgDS4KXGmR6r3il_3-business-credit-protection-insurance-tile-1.jpg&quot;) no-repeat center;background-size:cover;">
        <h4 id="hOME-heading17" style="color: rgb(255, 255, 255); text-align: center;" class="hdn">Credit Protection Insurance </h4>
        <div class="spacer" style="height: 59px;"></div>
        <a ui-sref="tabsController.hEREFORYOURBUSINESS()" id="hOME-button17" class="button button-assertive button-block button-clear st">VIEW MORE</a>
      </ion-slide-page>
      <ion-slide-page id="hOME-slide217" style="background:url(&quot;img/wRzCpuUQSg6Jyubn7XvG_4-engineering-tile.jpg&quot;) no-repeat center;background-size:cover;">
        <h4 id="hOME-heading18" style="color: rgb(255, 255, 255); text-align: center;" class="hdn">Engineering </h4>
        <div class="spacer" style="height: 59px;"></div>
        <a ui-sref="tabsController.hEREFORYOURBUSINESS()" id="hOME-button18" class="button button-assertive button-block button-clear st">VIEW MORE</a>
      </ion-slide-page>
      <ion-slide-page id="hOME-slide218" style="background:url(&quot;img/Xe0xrjGYTHSQ0uO6vZyP_5-fire-and-special-tile.jpg&quot;) no-repeat center;background-size:cover;">
        <h4 id="hOME-heading19" style="color: rgb(255, 255, 255); text-align: center;" class="hdn">Fire &amp; Special Perils </h4>
        <div class="spacer" style="height: 59px;"></div>
        <a ui-sref="tabsController.hEREFORYOURBUSINESS()" id="hOME-button19" class="button button-assertive button-block button-clear st">VIEW MORE</a>
      </ion-slide-page>
      <ion-slide-page id="hOME-slide219" style="background:url(&quot;img/Dat8eCYFRYmvrGKOPEG3_6-group-life-assurance-tile.jpg&quot;) no-repeat center;background-size:cover;">
        <h4 id="hOME-heading20" style="color: rgb(255, 255, 255); text-align: center;" class="hdn">Group Life Assurance </h4>
        <div class="spacer" style="height: 59px;"></div>
        <a ui-sref="tabsController.hEREFORYOURBUSINESS()" id="hOME-button20" class="button button-assertive button-block">VIEW MORE</a>
      </ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 283px; height: 16px;"></div>
    <h5 id="hOME-heading14" style="color: rgb(0, 0, 0); text-align: center;" class="smlr">Made with love by UPSTUDIO</h5>
  </ion-content>
</ion-view>