<ion-view title="INVESTOR RELATIONS" id="page8" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <h3 class="assertive">Investor Relations</h3>
      <p>Founded in 1980, Sacos Insurance Group is the leading insurance service provider in Seychelles. Sacos Insurance Group is currently listed on Trop-X, the Seychelles Securities Exchange. We proudly became the first company to be listed on Trop-X in
        August 2013 since the latter’s opening in November 2012. Since our original listing, our share price has experienced rapid growth from our original price of SCR35 to SCR115.
      </p>

      <h4>Stock brokers</h4>
      <h4>Constant Capital (Seychelles) Limited</h4>
      (Registration number 84103 06-1)
      <br> F28-29 First Floor Eden Plaza
      <br>Eden Island Mahé Seychelles
      <br>E
      <b>info@constant.sc</b>
      <br>T
      <b>+248 434 6820</b>
      <br>www.constant.sc
      <br>
      <br>
      <h4>PKF Capital Markets (Seychelles) Limited</h4>
      F19 First Floor Eden Plaza
      <br> Eden Island Mahé Seychelles
      <br>E
      <b>nico.ackermann@pkf.com</b>
      <br>T
      <b>+248 434 6770</b>
      <br>www.pkf.sc
      <br>
      <br>
      <p>Alternatively, investors who still hold dematerialised shares may contact us directly at:</p>
      <h4>Sacos Investor Relations</h4>
      Sacos Insurance Group
      <br> (Incorporated in the Republic of Seychelles)
      <br>(Registration number 820521-1)
      <br>(Share code: “SAC” ISIN: SC1311001004)
      <br>(“Sacos” or “the Company”)
      <br>
      <br>

      <h4>Corporate Information and Advisor</h4>
      <br>Company Secretary:
      <b>Valsen Fiduciaries (Seychelles) Limited</b>
      <br>Registered office: Sacos Tower Palm Street Victoria Mahé Seychelles
      <br>Postal address: P O Box 636 Victoria Mahé Seychelles
    </div>
    <div class="spacer" style="width: 283px; height: 50px;"></div>
  </ion-content>
</ion-view>